*{
	margin: 0;
	padding: 0;
	outline:none;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;

}
body{
	background:  #ddd5e5;
}

.img_usuaro img{
	display: flex;
	width: 17rem;
	height: 17rem;
	border-radius: 50%;
	position: relative;
	top: 2rem;
	left: 16rem;
	box-shadow: rgba(0, 0, 0, 0.4);
}

nav{
	background: #C3F294;;/*fondo bar nav*/
	width: 90px;/*tamano letras*/
	overflow: hidden;/*tapa logo*/
	transition: width 0.2s linear;
	box-shadow: 0 20px 35 px rgba(0, 0, 0, 0.1);
} 

#nav_notificaciones{
	position: absolute;
	top: 0;
	bottom: 0;
	height: 42rem;
	left: 0;
	z-index: 2;
}

#nav_perfil_almacenista{
	position: absolute;
	top: 0;
	bottom: 0;
	height: 70rem;
	left: 0;
	z-index: 2;
}

#nav_crear_producto{
	position: absolute;
	top: 0;
	bottom: 0;
	height: 45rem;
	left: 0;
	z-index: 2;
}

#nav_crear_proveedor{
	position: absolute;
	top: 0;
	bottom: 0;
	height: 45rem;
	left: 0;
	z-index: 2;
}

#nav_registro_entrada{
	position: absolute;
	top: 0;
	bottom: 0;
	height: 45rem;
	left: 0;
	z-index: 2;
}

#nav_registro_salida{
	position: absolute;
	top: 0;
	bottom: 0;
	height: 45rem;
	left: 0;
	z-index: 2;
}

#nav_consultar_producto{
	position: absolute;
	top: 0;
	bottom: 0;
	height: 47rem;
	left: 0;
	z-index: 2;
}

#consultar_proveedores{
	position: absolute;
	top: 0;
	bottom: 0;
	height: 47rem;
	left: 0;
	z-index: 2;
}
.logo{
	text-align: center;
	display: flex;
	transition: all 0.5s ease;
	margin:10px 0 0 10px;
}
.logo img{
	width: 45px;
	height: 45px;
	border-radius: 50%;
}
.logo span{/*letras logo*/
	font-weight: bold;
	padding-left: 15px;
	font-size: 18px;
	text-transform: uppercase;
}
a{/*formato texto var*/
	position: relative;
	color:#56208c;
	font-size: 14 px;
	display: table;
	width: 300px;
	padding: 10px;
}
.fas{/*formato texto var*/
	position: relative;
	width: 70px;
	height: 40px;
	top: 14px;
	font-size: 20px;
	text-align: center;
}
.nav-item{
	position: relative;
	top: 12px;
	margin-left: 10px;
}
a:hover{/*hover iconos*/
	background: #eee;
}
nav:hover{/*hover barras*/
	width: 260px;
	transition: all 0.5s ease;
}
.logout{
	position: absolute;
	bottom: 0;
}
.main-content{
	margin-left: 90px;
}
header{
	display:flex;
	justify-content: space-between;
	padding: .9rem;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}
.search-wrapper{
	border: 2px solid #56208c;
	border-radius: 30px;
	display: flex;
	align-items: center;
	overflow-x: hidden;
}
.search-wapper span{
	display: inline-block;
	padding: 0rem 1rem;
	font-size: 1.5rem;
}

.search-wapper input {
	height: 100%;
	padding: .5rem;
	border: none;
	outline: none;
    width: 12px;
}

input[type="search"] {
    height: 36px;
    border-radius: 12px;
  }
.user-wrapper{
	display: flex;
	align-items: center;
}
.user-wrapper img {
	border-radius: 50%;
	margin-right: 1rem;
}
.user-wrapper small{
	display: inline-block;

}
.contenedor .form .form-header .form-title {/*formato fuentes formulario*/
    font-weight: 5px;
    font-family: Arial, Helvetica;
    color:#56208c;
    text-align: center;
    padding: 5px 0;
}
.contenedor .form {
    width: 100%;
    max-width: 650px;
    margin: auto;
    padding: 5px 10px;
    margin-top: 2%;
    padding-bottom: 10px;
    border-radius: 50px;
    border: 5px solid #ddd5e5;
}
.contenedor .form .form-label {/*formato fuentes nombres casillas*/
    display: block;
    color: #56208c;
    font-size: 18px;
    font-family: Arial, Helvetica;
    position: relative;
	padding-bottom: 2px;
}
.contenedor .form .form-input, .form-textarea {
    border: none;
    outline: none;
    border-bottom: 2px solid #C4FD96;
    width: 100%;
    padding: 2px;
    margin-bottom: 10px;border-radius: 2px;
    font-size: 14px;
    color: rgb(17, 17, 17);
    font-family: Arial, Helvetica;
	
}
.contenedor .form .lista {
    background: #C4FD96;
    padding: 5px 10px;
    margin-bottom: 20px;border-radius: 10px;
    font-size: 15px;
    text-align: center;
}
.contenedor .form .form-textarea {
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}
.contenedor .form .btn-submit {/*CONTENEDOR BOTON*/
    width: 100%;
    font-family: Arial, Helvetica;
    outline: none;
    background: #C4FD96;
    font-size: 16px;
    background-origin: none;
    color: black;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
	border-radius: 20px;
}
.contenedor .form .btn-submit:hover {
    background: #d5fbb6;
}
.form p {
    padding: 30px;
    height: 40px;
    text-align: center;
    font-size: 22px;
    color: #C4FD96;
}



