* {
    padding: 0; /*quitar espacios por defecto*/
    margin: 0; 
    text-decoration: none; /*eliminar los subrayados*/
    list-style: none; /*se quitan los puntos a las listas*/
    box-sizing: border-box; /*para que los elementos no se salgan del menu, es decir, del contenedor*/
    font-family: arial, helvetica; /*tipo de letra*/
    color: #56208C; /*color letra*/
}
nav {
    /*nav es lo que contiene todo el menu*/
    background: #C3F294; /*color fondo del menu*/
    height: 80px; /*alto del menu*/
    width: 100%; /*ancho del menu*/
}
.enlace {
    /*accedemos a la clase donde se encuentra el logo y el nombre que ira en el menu*/
    position: absolute; /*se le da la posicion*/
    padding: 0px 20px; /*espacio que hay arriba y abajo del logo para centrarlo*/
    display: flex; /*permite acomodar de manera flexible*/
    align-items: center; 
}
.logo{
    /*se modifica el tamaño del logo*/
    height: 85px; /*altura para el logo*/
    margin-left: 10px;
}
nav ul {
    /*se accede a la lista del menu*/
    float: right; /*para que se vaya al lado contrario, es decir, a la derecha*/
    margin-right: 2px; /*dar espacio y que no quede tan junto*/
}
nav ul li {
    /*se acceden a los elementos de la lista*/
    display: inline-block; /*permite ponerlos de derecha a izquierda*/
    line-height: 80px; /*para centrarlo*/
    margin: 0 20px; /*darle espacio arriba y abajo y a los lados*/
}
nav ul li a{
    /*elemenos de las listas*/
    font-size: 18px; /*tamaño de las letras*/
    padding: 7px 13px; /*espacio arriba abajo y a los lados*/
    border-radius: 3px; 
}
li a:hover {
    /*se accede a la clase active para darle diseño a los elementos del menu*/
    /*hover es para darle diseño cuando se apunta con el mouse y es una seudoclase*/
    background: #f2f2f2; /*color fondo del puntero*/
    transition: .3s; /*el tiempo de transicion de la animacion del puntero*/
}
.checkbtn {
    /*se accede a la clase para configurar la casilla de verificacion y el icono de font awesome para el menu*/
    font-size: 30px; /*tamaño del icono*/
    color: #56208C; /*color del icono*/
    float: right; /*que se vaya para la derecha*/
    line-height: 80px; /*para centrarlo en el espacio del menu*/
    margin-right: 40px; /*darle espacio para que no quede pegado a la derecha*/
    cursor: pointer; /*para cambiar la forma del cursor cuando se pone encima del menu*/
    display: none; /*para que el icono solo sea visible en pantallas pequeñas*/
}
#check{
    display: none; /*para ocultar la casilla de verificacion y que solo sea visible el icono*/
}
.box {
    /*se accede a la clase de la barra de busqueda*/
    position: absolute; 
    top: 14%; /*se le da el espacio entre arriba y abajo*/
    left: 85%; /*se le da el espacio entre izquierda y derecha*/
    transform: translate(-50%, -50%);
}
input.src{
    /*se accede a la para configurar el espacio de texto de la barra de busqueda*/
    padding: 14px 15px 15px 42px;
    outline: none;
    font-size: 20px;
    border-radius: 25px;
    color: #56208C;
    border: 3px solid #56208C;
    background: #fff url("../images/search-icon.png") no-repeat 9px center;
    width: 130px;
    transition: all .5s;
}
input.src:hover {
    /*se accede a la para configurar el espacio de texto de la barra de busqueda*/
    /*hover es para darle diseño cuando se apunta con el mouse y es una seudoclase*/
    width: 260px;
    background-color: #fff;
    border-color: #56208C;
    box-shadow: 0 0 5px #6dcff680;
}

.boton{
    /*se accede a la clase del boton iniciar sesion*/
    position: absolute;
    top: 11%; /*se le da el espacio entre arriba y abajo*/
    left: 62%; /*se le da el espacio entre izquierda y derecha*/
}
.btn{
    /*se accede a la clase para las propiedades de los dos botones*/
    width: 120%;
    font-family: Arial, Helvetica;
    outline: none;
    background: #56208C;
    font-size: 16px;
    border-radius: 10px;
    background-origin: none;
    color: white;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}
.boton1 {
    /*se accede a la clase del boton registrarse*/
    position: absolute;
    top: 11%; /*se le da el espacio entre arriba y abajo*/
    left: 50%; /*se le da el espacio entre izquierda y derecha*/
}
/*diseño del responsive*/
@media (max-width: 1050px) /*para tamaño maximo del dispotivo*/ {
    /*accedemos a la clase donde se encuentra el logo y el nombre que ira en el menu*/
    .enlace{
        padding-left: 20px; /*para que se mueva hacia la izquierda el logo*/
    }
    nav ul li a{
        font-size: 16px; /*tamaño de las letras*/
    }
}
@media (max-width: 1050px) /*para tamaño maximo del dispotivo*/ {
    /*se accede a la clase del icono de font awesome para el menu*/
    .checkbtn {
        display: block; /*para que se muestre el icono de font awesome*/
    }
    ul {
        /*se accede a la lista*/
        /*se configura para que se vea el menu con el icono*/
        position: fixed; 
        width: 100%; /*ancho del menu*/
        height: 100vh; /*altura del menu*/
        background: #C4FD96; /*color del fondo del menu*/
        top: 80px; /*para que se siga viendo el menu y el icono*/
        left: -100%; /*para que no se vea si no se hace clic en l icono*/
        z-index: 2;
        text-align: center; /*centrar texto*/
        transition: all .5s; /*transicion de la animacion*/
    }
    nav ul li {
        /*se accede a los elementos de la lista*/
        display: block; 
        margin: 50px 0; /*margen hacia arriba y abajo y a los lados*/
        line-height: 30px; /*espacio para cada uno de los elementos*/
    }
    nav ul li a {
        font-size: 20px; /*se modifica el tamaño de letra de los elementos de la lista*/
    }
    li a:hover, li a.active {
    /*se accede a la clase active para darle diseño a los elementos del menu*/
    /*hover es para darle diseño cuando se apunta con el mouse y es una seudoclase*/
        background: none; /*que no tenga color de fondo*/
        color: #f2f2f2; /*que tenga color las letras*/
    }
    /*cuando el check este activado, se muestra*/
    #check:checked ~ ul {
        left:0; /*se permite mostrar el menu*/
    }
    .boton {
        left: -100%; /*para que no se vea si no se hace clic en l icono*/
    }
    .boton1 {
        left: -100%; /*para que no se vea si no se hace clic en l icono*/
    }
    .box {
        left: -100%; /*para que no se vea si no se hace clic en l icono*/
    }
}


