.error_404 {
    margin: 0px;/*el margen*/
    font-family: "muli", sans-serif;/*define una lista de fuentes o familias de fuentes*/
    background-color: #56208C;
}

h1 {
    margin: 1px;/*el margen*/
}
#error_404{
    color: white
}
#error_500{
    color: white;
}

.mensaje_error{
    display: flex;/*cómo se sitúan los elementos flexibles dentro del contenedor*/
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 100px);
    width: 100%;
}

.contenedor_mensaje-error{
    text-align: center;
    color: white;
    margin-top: 5%;
    font-size: 50px;
}

.boton_error a{
    font-size: 60%;
    background-color: white;
    border-radius: 30px;
    height: 7%;
    position: 50%;
    margin-top: 10%;
    padding: 1px 10px;
    text-decoration: none;
    display: inline-block;
    

}

@media only screen and (max-width:600px) {
    .contenedor_mensaje-error{
        align-items: flex-start;
        flex-direction: column;
    }
}