* {
	box-sizing: border-box;
}


body {
	font-family: 'Roboto', sans-serif;
	background: #E5E5E5;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
}
h1{
	font-size: 34px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #56208c;
}
.formulario {
	position: relative;
	top: 5rem;
	z-index: 1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 12px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo select{
	margin-top: 2px;
	font-size: 1.1rem;
	width: 25rem;
	height: 2.74rem;
	border-radius: 3px;
}

.formulario__grupo{
	display: block;
	position: relative;
}

.formulario__grupo-input {
	position: relative;
}

textarea{
	font-size: 17px;
	border: 3px solid transparent;
	border-radius: 3px;
	
}

textarea:focus {
	border: 3px solid transparent;
	outline: none;
	border: 3px solid #C3F294;
	outline: none; /* Elimina el contorno predeterminado */
	
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #C3F294;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-btn-enviar {
	position: relative;
	right: 24rem;
	grid-column: span 2;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #56208c;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

#boton_duplicar{
	position: relative;
	left: 22rem;
	bottom: 10rem;
	width: 2rem;
	height: 2rem;
	border-radius: 90px;
	background: #208c40;
}



.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 1000px) {
	.formulario {
		position: relative;
		left: 7rem;
		grid-template-columns: 1fr;

	}
	.formulario__grupo {
		grid-column: 1;
	}

	input {
		grid-column: 1;
	}

	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}
}